<div class="super-offers" *ngIf="isReadyToDisplay$ | async; else loading">
    <mat-tab-group
        animationDuration="0ms"
        #tabGroup
        *ngIf="offers$ | async as offers"
        (click)="onTabChange($event)"
        disableRipple="true"
    >
        <mat-tab></mat-tab>
        <mat-tab
            *ngFor="let offer of offers; let index = index"
            isActive="false"
        >
            <ng-template mat-tab-label>
                <img class="tab-img" src="{{ offer.icon }}" alt="offer-image" />
            </ng-template>
            <app-tab-content
                [offersData]="offer.categories"
                [offersPromos]="offer.promos"
            ></app-tab-content>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #loading>
    <h3>loading...</h3>
</ng-template>
