<div class="super-offers" *ngIf="isReadyToDisplay$ | async; else loading">
    <div class="wrap">
        <div class="catalog-title">
            <h2>{{ 'CATALOG.TITLE' | translate }}</h2>
        </div>
        <div class="catalog-categories">
            <ul class="catalog-categories__list">
                <li
                    class="catalog-categories__list-item"
                    *ngFor="
                        let category of categoryOffers$ | async;
                        let i = index
                    "
                    id="{{ category._id }}"
                    (click)="selectCategory(i)"
                >
                    <img src="{{ category.icon }}" alt="category" />
                    <span>
                        {{ category.categoryName | translate }}
                    </span>
                </li>
            </ul>
        </div>
        <mat-tab-group animationDuration="0ms" #tabGroup (click)="selectTab()">
            <mat-tab></mat-tab>
            <mat-tab *ngFor="let offer of offers$ | async; let i = index">
                <ng-template mat-tab-label>
                    <img
                        class="tab-img"
                        src="{{ offer.icon }}"
                        alt="offer-image"
                    />
                </ng-template>
                <app-tab-content
                    [offersData]="offer.categories"
                    [offersPromos]="offer.promos"
                    class="content-tabs"
                    [class.active]="toggleClass && isOpen"
                ></app-tab-content>
            </mat-tab>
        </mat-tab-group>
        <div class="content-wrap" *ngIf="categoriesData$ | async as data">
            <app-tab-content
                *ngIf="categoryOffers$ | async as promos"
                [offersData]="data.length !== 0 ? data[indexCategory] : '' "
                [offersPromos]="
                    promos.length !== 0 ? promos[indexCategory].promos : '' "
                class="content-tabs-2"
                [class.active]="toggleClass && !isOpen"
            ></app-tab-content>
        </div>
    </div>
</div>

<ng-template #loading>
    <h3>loading...</h3>
</ng-template>
