.super-offers {
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &-item {
            width: 11.111%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            cursor: pointer;
            transition: 0.2s ease;
            border-bottom: 3px solid var(--border-color);
            &:hover {
                border-bottom: 3px solid rgb(87, 87, 87);
                background-color: var(--border-color);
            }
            img {
                width: 80px;
                height: auto;
            }
        }
    }
}
::ng-deep .tab-img {
    width: 80px;
    height: auto;
}
::ng-deep .mat-tab-body-wrapper {
    width: 100%;
    height: auto;
    display: none !important;
    &.active {
        display: block !important;
    }
}

::ng-deep .mat-tab-labels {
    display: flex;
    justify-content: space-between;
}

::ng-deep .mat-tab-labels > .mat-tab-label:first-child {
    display: none;
}

::ng-deep .tab-img.ng-star-inserted {
    pointer-events: none;
}
::ng-deep .mat-tab-label-content {
    pointer-events: none;
}
