<div class="filter" *ngIf="isReadyToDisplay$ | async; else loading">
    <div class="filter-wrap">
        <div
            class="filter-products"
            *ngIf="filterItemsData$ | async as filterItems"
        >
            <div *ngIf="selectedItemsArray$ | async as selectedItems">
                <div class="filter-wrap" *ngFor="let filter of filterItems; let idx = index">
                    <h4 class="filter-products-title">{{ filter.filter_title }}</h4>
                    <section class="checkbox-section" *ngIf="filter.type === 0">
                        <ul class="filter-products-list">
                            <li class="item" *ngFor="let item of filter.filters">
                                <mat-checkbox
                                    value={{item}}
                                    [checked]="setFilterValue(item.id, selectedItems)"
                                    (change)="onChecked(item, $event.checked, idx)"
                                    >{{ item.name }}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </section>
                    <section class="inputs-section" *ngIf="filter.type === 1">
                        <ul class="filter-products-list">
                            <li class="item">
                                <div class="inputs-wrap">
                                    <input
                                        class="input"
                                        [value]="resetInputValue(idx, selectedItems, 'first_filter_key')"
                                        (input)="onInputFirst(idx, $event.target.value)"
                                        type="number"
                                        placeholder="{{'CATEGORY.FROM' | translate}}"
                                    />
                                    <input
                                        class="input"
                                        [value]="resetInputValue(idx, selectedItems, 'second_filter_key')"
                                        (input)="onInputSecond(idx, $event.target.value)"
                                        type="number"
                                        placeholder="{{'CATEGORY.TO' | translate}}"
                                    />
                                </div>
                            </li>
                        </ul>
                    </section>
                    <section class="checkbox-section" *ngIf="filter.type === 2">
                        <ul class="filter-products-list">
                            <li class="item" *ngFor="let filterItem of filter.filters">
                                <mat-checkbox
                                    [checked]="setFilterValue(filterItem.id, selectedItems)"
                                    (change)="onChecked(filterItem, $event.checked, idx)"
                                    >{{ filterItem.name }}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </section>
                    <section class="checkbox-section" *ngIf="filter.type === 3">
                        <ul class="filter-products-list">
                            <li
                                class="item"
                                *ngFor="let filterItem of filter.filters"
                            >
                                <mat-checkbox
                                    [checked]="setFilterValue(filterItem.id, selectedItems)"
                                    (change)="onChecked(filterItem, $event.checked, idx)"
                                    >{{ filterItem.name }}
                                </mat-checkbox>
                            </li>
                            <div class="select-wrap">
                                <mat-form-field
                                    appearance="fill"
                                    class="select-field_1"
                                >
                                    <mat-select>
                                        <mat-option
                                            *ngFor="let filterItem of filter.selectItems"
                                            [value]="resetSelectValue(filterItem.name, selectedItems)"
                                            (click)="onSelectFirst(idx, filterItem.name)"
                                        >
                                            {{ filterItem.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                
                                <mat-form-field
                                    appearance="fill"
                                    class="select-field_2"
                                >
                                    <mat-select>
                                        <mat-option
                                            *ngFor="let filterItem of filter.selectItems"
                                            [value]="resetSelectValue(filterItem.name, selectedItems)"
                                            (click)="onSelectSecond(idx, filterItem.name)"
                                        >
                                            {{ filterItem.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #loading>
    <h3>loading...</h3>
</ng-template>
