<div class="catalog">
    <div class="catalog__title">
        <h2>{{"CATALOG.TITLE" | translate}}</h2>
    </div>
    <div class="catalog__categories" >
        <ul class="catalog__categories-list">
            <li class="catalog__categories-list-item" *ngFor="let item of categories">
                <img src="{{item.img}}" alt="category">
                <span>
                    {{item.categoryName | translate}}
                </span>
            </li>
        </ul>
    </div>
    <!-- API data -->
    <div class="catalog__promotion">
        <ul class="catalog__promotion-list">
            <li class="catalog__promotion-list-item">
                <img src="https://www.xda-developers.com/files/2021/01/Samsung-Galaxy-Buds-Pro-XDA-1244.jpg" alt="promotion">
                <div class="promotion-block">
                    <h3>Фирменные наушники Airdots</h3>
                    <p>Для смартфонов</p>
                </div>
            </li>
            <li class="catalog__promotion-list-item">
                <img src="https://www.xda-developers.com/files/2021/01/Samsung-Galaxy-Buds-Pro-XDA-1244.jpg" alt="promotion">
                <div class="promotion-block">
                    <h3>Фирменные наушники Airdots</h3>
                    <p>Для смартфонов</p>
                </div>
            </li>
            <li class="catalog__promotion-list-item">
                <img src="https://www.xda-developers.com/files/2021/01/Samsung-Galaxy-Buds-Pro-XDA-1244.jpg" alt="promotion">
                <div class="promotion-block">
                    <h3>Фирменные наушники Airdots</h3>
                    <p>Для смартфонов</p>
                </div>
            </li>
            <li class="catalog__promotion-list-item">
                <img src="https://www.xda-developers.com/files/2021/01/Samsung-Galaxy-Buds-Pro-XDA-1244.jpg" alt="promotion">
                <div class="promotion-block">
                    <h3>Фирменные наушники Airdots</h3>
                    <p>Для смартфонов</p>
                </div>
            </li>
            <li class="catalog__promotion-list-item">
                <img src="https://www.xda-developers.com/files/2021/01/Samsung-Galaxy-Buds-Pro-XDA-1244.jpg" alt="promotion">
                <div class="promotion-block">
                    <h3>Фирменные наушники Airdots</h3>
                    <p>Для смартфонов</p>
                </div>
            </li>
            <li class="catalog__promotion-list-item">
                <img src="https://www.xda-developers.com/files/2021/01/Samsung-Galaxy-Buds-Pro-XDA-1244.jpg" alt="promotion">
                <div class="promotion-block">
                    <h3>Фирменные наушники Airdots</h3>
                    <p>Для смартфонов</p>
                </div>
            </li>
            <li class="catalog__promotion-list-item">
                <img src="https://www.xda-developers.com/files/2021/01/Samsung-Galaxy-Buds-Pro-XDA-1244.jpg" alt="promotion">
                <div class="promotion-block">
                    <h3>Фирменные наушники Airdots</h3>
                    <p>Для смартфонов</p>
                </div>
            </li>
            <li class="catalog__promotion-list-item">
                <img src="https://www.xda-developers.com/files/2021/01/Samsung-Galaxy-Buds-Pro-XDA-1244.jpg" alt="promotion">
                <div class="promotion-block">
                    <h3>Фирменные наушники Airdots</h3>
                    <p>Для смартфонов</p>
                </div>
            </li>
        </ul>
    </div>
</div>
