/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    height: 100%;
}

:root {
    --color-text: rgb(68, 68, 68);
    --color-text-light: #fff;
    --primary-color: rgb(255, 189, 65);
    --primary-color-hover: rgb(252, 164, 1);
    --border-color: lightgray;
    --btn-default: #efefef;
    --header-color: #ffe3bf;
    --disabled-btn: rgba(252, 164, 1, 0.514);
    --color-link: rgb(111, 111, 255);
}

