<header class="profile-header">
    <div class="profile-header__logo">
        <img
            class="profile-header__logo-img"
            src="https://i.inews.co.uk/content/uploads/2020/12/b7ad9650-3091-11eb-a277-011d25811a91_800_420-e1608301536843-624x360.jpeg"
            alt="profile-logo"
        />
    </div>
    <div class="profile-header__info">
        <h4 class="profile-header__info-name">Grogu</h4>
        <span class="profile-header__info-subtitle">Your personal account</span>
    </div>
</header>
