<header class="profile-header" *ngIf="isReadyToDisplay$ | async">
    <div class="profile-header__logo">
        <img
            class="profile-header__logo-img"
            src="{{ avatar$ | async }}"
            alt="profile-logo"
            *ngIf="!!profileAvatar"
        />
        <img
            src="../../../../../assets/img/avatar.png"
            class="profile-header__logo-img"
            *ngIf="!profileAvatar"
        />
    </div>
    <div class="profile-header__info">
        <h4 class="profile-header__info-name">{{ name$ | async }}</h4>
        <span class="profile-header__info-subtitle"
            >Your personal account
        </span>
    </div>
</header>
